attrs==17.4.0
-e git+git@github.com:chuck1/jessica@8e7c79a5a0ae24aa32bd6db304d6571bf6d8d413#egg=jessica
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
more-itertools==4.1.0
pluggy==0.6.0
py==1.5.3
pytest==3.5.0
pytest-asyncio==0.8.0
six==1.11.0
